<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appmosphere • Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/3771/3771274.png">

<div>
    <!-- Navigation Bar -->
    <nav class="bg-cyan-500 border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
            <a href="https://flowbite.com/" class="flex items-center">
                <img src="https://cdn-icons-png.flaticon.com/512/3771/3771274.png" class="mr-3 h-6 sm:h-12" alt="Appmosphere Logo" />
                <span class="text-white self-center text-2xl font-semibold whitespace-nowrap dark:text-white"><b>App</b>mosphere</span>
            </a>
            <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-xl text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg bg-transparent md:flex-row md:space-x-8 md:mt-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <a href="#" class="block py-2 pr-4 pl-3 text-white text-lg font-bold bg-blue-700 md:bg-transparent md:p-0 dark:text-white" aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 pr-4 pl-3 text-white text-lg rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-800 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Other</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Location, Longitude, and Latitude -->
    <div class="flex items-center justify-center mt-12">
        <div class="column">
            <img src="https://cdn-icons-png.flaticon.com/512/197/197561.png" class="mr-3 h-6 sm:h-48" alt="Country Flag" />
        </div>
        <div class="flex flex-col px-4">
            <h3 class="text-5xl font-semibold">
                <%= weather[0]["location"]["name"] %>
            </h3>
            <p class="text-3xl mt-2">
                <%= weather[0]["location"]["lat"] %>° N, 
                <%= weather[0]["location"]["long"] %>° E
            </p>
        </div>
    </div>
</body>
</html>